@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    min-height: 100vh;
    background-image: url('/static/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: #333;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

/* Header Styles */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

header h1 {
    font-size: 2.5em;
    color: #5D4037;
}

header .header-bloc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header nav {
    margin-left: auto;
}

header nav a {
    margin-left: 20px;
    text-transform: capitalize;
    font-size: 16px;
    color: #000;
    text-decoration: none;
    position: relative;
}

header nav a:hover {
    color: #f7a800;
}

header nav a:hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: #f7a800;
    transition: width 0.2s ease-out;
}

header nav a:hover::after {
    width: 100%;
}

/* Container Styles */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
}

/* Block Styles */
.bloc {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 40px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 20px;
}

h3 {
    font-size: 24px;
    margin-bottom: 20px;
    text-decoration: underline;
}

p {
    font-size: 16px;
    margin-bottom: 30px;
}

/* Form Group Styles */
.form-group {
    margin-bottom: 25px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #f7a800;
    box-shadow: 0 0 5px rgba(247, 168, 0, 0.5);
    outline: none;
}

.form-group textarea {
    height: 120px;
    resize: vertical;
}

/* Button Styles */
.btn {
    background-color: #5e5e5e;
    color: #fff;
    padding: 12px 30px;
    border-radius: 25px;
    margin-top: 20px;
    display: inline-block;
    text-align: center;
    border: none;
    cursor: pointer;
    position: relative;
    transition: background-color 0.2s ease-out;
    font-size: 16px;
}

.btn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: #f7a800;
    transition: width 0.2s ease-out;
}

.btn:hover::after {
    width: 100%;
}

.btn:hover {
    background-color: #f7a800;
    color: #fff;
}

/* Footer Styles */
footer {
    background-color: rgba(128, 128, 128, 0.5);
    padding: 20px;
    color: white;
    text-align: center;
    margin-top: auto;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

/* Table Styles */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.table th {
    background-color: #f2f2f2; 
    color: black;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
}

.table tr:hover {
    background-color: #f1f1f1;
}

table {
    margin: 0 auto;
    width: 60%;
}

th, td {
    padding: 15px;
    text-align: center;
    border: 1px solid black;
}

th {
    background-color: #f2f2f2;
}

.info {
    display: flex;
    margin-bottom: 10px;
    margin-left: 100px;
}