{% extends "empty_page.html" %}

{% block title %}
<title>Le coin de Namur -- Login</title>
{% endblock %}

{% block content %}
<div class="bloc">
    <h2>Enter your Email and Password to login!</h2>
</div>
<div class="bloc">
    <form action="/users/login" method="post">

        <div>
            <label for="users_email">Email: </label>
            <input type="text" id="users_email" name="email" placeholder="yourname@email.com"/>
        </div>

        <div>
            <label for="users_password">Password: </label>
            <input type="password" id="users_password" name="password" placeholder="123456789"/>
        </div>

        <button class="btn" type="submit">Login</button>
    </form>
</div>

<div class="bloc">
    <p> You don't have an account yet? Click here to create an account!</p>
    <a class="btn"href="/users/new/user">Create Account</a>
</div>

{% endblock %}