{% extends "empty_page.html" %}

{% block title %}
<title>Le coin de Namur -- My Orders</title>
{% endblock %}

{% block content %}
<div class="bloc">
    <h2>Wow you ordered a lot!</h2>
</div>
<main>
    <div class="container">
        <h2>My Orders</h2>
        <div class="bloc">
            <table>
                <tr>
                    <th>Order ID</th>
                    <th>Client ID</th>
                    <th>Ordered Dishes</th>
                    <th>Order Price</th>
                    <th>Status</th>
                </tr>
                {% for order in orders %}
                    {% if order.clientid == user.id %}
                        <tr>
                            <td>{{ order.orderid }}</td>
                            <td>{{ order.clientid }}</td>
                            <td>{{ order.dishes }}</td>
                            <td>{{ order.orderprice }}</td>
                            <td>{{ order.status }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
</main>
{% endblock %}
