{% extends "empty_page.html" %}

{% block title %}
<title>Le coin de Namur -- Add Dish</title>
{% endblock %}


{% block content %}
<div class="bloc">
    <h1>You have a new dish? Add it to the Menu!</h1>
</div>
<div class="bloc">
    <form action="/menu/add/dish" method="post">

        <div>
            <label for="dishname">Dish name</label>
            <input type="text" id="dishname" name="dishname" placeholder="Chicken Rice" />
        </div>

        <div>
            <label for="dishtype">Dish Type</label>
            <input type="text" id="dishtype" name="dishtype" placeholder="Dessert" />
        </div>

        <div>
            <label for="price">Dish Price</label>
            <input type="text" id="price" name="price" placeholder="10" />
        </div>

        <button class="btn" type="submit">Add new Dish to the Menu</button>

    </form>
</div>
{% endblock %}
